body{
  background: blue;
}
h1{
  color: yellow;
  position: absolute;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  font-weight: bold;
  border: 5px solid yellow;


}
