body{
  background: blue;
  font-family: georgia;
}
h1{
  color: yellow;
  position: absolute;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  font-weight: bold;
  border: 5px solid yellow;
}
#container{
  width: 60%;
  margin: auto;
  padding: 0 30px 45px 10px;
  border: 5px solid yellow;
  border-radius: 10px;
}
.button {
  margin: 0 3px 0 3px;
  width: 45px;
  border: 3px solid;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  color: white;
  background-color: yellow;
  color: blue;
  float: right;

}

.button.active {
  background-color: white;
  color: blue
}

button{
  position: relative;
  float: right;
}

.button a {
  color: black;
  text-decoration: underline;
}
